---
import "../styles/tailwind.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CookieConsent from "../components/CookieConsent.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Portal de información útil para los vecinos de Cantillana",
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="google-site-verification"
			content="s0VQNm2tjEeD8Go7xJi3d3VYa0AAYv1QnVlOMysa2iY"
		/>
		<meta name="description" content={description} />
		<meta name="google-adsense-account" content="ca-pub-1412633306454408" />
		<title>{title} | Cantillana Digital</title>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1412633306454408"
			crossorigin="anonymous"></script>
		<ClientRouter />
	</head>
	<body class="bg-slate-50 text-slate-900 antialiased font-sans">
		<Navbar />

		<main class="min-h-screen animate-entrance" transition:animate="none">
			<slot />
		</main>

		<Footer />
		<CookieConsent />
	</body>
</html>
